<section class="blog pt-page" id="blog">
  <div class="scroll__content">
    <div class="sec_title">
      <h2>My Blog</h2>
    </div>
    <div class="sec__content">
      <div class="container">
        <div class="blog">
          <div class="row posts-row blog-grid">

            <!-- article 1 -->
            <div class="col-sm-6 col-xs-12 grid-item">
              <div class="item">
                <a href="single-blog.html">
                  <div class="blog__img">
                    <i class="pe-7s-news-paper"></i>
                    <img src="assets/images/blog/blog-documentation.jpg" alt="">
                  </div>
                </a>
                <div class="content matchH">
                  <p class="info">August 12, 2020</p>
                  <h3>
                    <a href="single-blog.html">How to write a good README</a>
                  </h3>
                </div>
              </div>
            </div>

          </div><!--.row-->
        </div><!--.blog-->

        <a href="#" target="_self" class="btn load-more">Load More</a>

      </div><!--.container-->
    </div><!--.sec__content-->
  </div><!--.scroll__content-->
</section>
