<div class="mob-menu-overlay"></div>
<div class="mob-menu">
  <div class="mob-menu-content">
    <div class="float-left">
      <h3 class="menu-title">
        <a href="#">{{site.user}}</a>
      </h3>
    </div>
    <div class="float-right">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
</div>

<div class="side side-right">
  <div class="home-lines">
    <div class="linesContent">
      <span class="home-line"></span>
      <span class="home-line"></span>
      <span class="home-line"></span>
      <span class="home-line"></span>
    </div>
    <div class="lines--content">
      <span class="home--line"></span>
      <span class="home--line"></span>
      <span class="home--line"></span>
      <span class="home---line"></span>
      <span class="home---line"></span>
      <span class="home---line"></span>
    </div>
  </div>
  <div class="intro-content">
    <div class="profile">
      <img src="assets/images/me.jpg" alt="author">
    </div>
    <h2>
      <span>{{site.user}}</span>
    </h2>
    <div class="menu">
      <!-- {% include social.html %} -->
      <!--Menu Items-->
      <ul id="menu" class="list-unstyled menu_list">
        <li class="menu-item ">
          <a href="#home" class="active_item">home</a>
        </li>
        <li class="menu-item ">
          <a href="#about">about me</a>
        </li>
        <li class="menu-item ">
          <a href="#resume">my resume</a>
        </li>
        <li class="menu-item ">
          <a href="#services">services</a>
        </li>
        <li class="menu-item ">
          <a href="#portfolio">portfolio</a>
        </li>
        <li class="menu-item ">
          <a href="#blog">my blog</a>
        </li>
        <li class="menu-item">
          <a href="#contact">contact</a>
        </li>
      </ul>
    </div><!--.menu-->
  </div><!--.intro-content-->
</div><!--.side-->
