<section class="portfolio_sec pt-page" id="portfolio">
  <div class="scroll__content">
    <div class="sec_title">
      <h2>Portfolio</h2>
    </div>
    <div class="sec__content">
      <div class="container">
        <div class="portfolio_sec">
          <div class="portfolio">
            <ul class="list-unstyled ul-filter">
              <li data-filter="*" class="active_filter">all</li>
              <li data-filter=".java">Java</li>
              <li data-filter=".python">Python</li>
              <li data-filter=".logo">logo</li>
            </ul>
          </div>

          <div class="row grid portfolio">

            <!--project 1 (Project popup)-->
            <div class="col-xs-12 col-sm-6 item grid-item python">
              <div class="project_content">
                <div class="my__img">
                  <img src="assets/images/works/work-showcase-prioritizer-api.jpg" alt="" />
                </div>

                <div class="info">
                  <div class="info-content">
                    <a class="popup-with-zoom-anim ajax_popup" href="portfolio-ajax-popup/project-prioritizer-api.html">
                      <h3>Prioritizer API</h3>
                      <p>python</p>
                      <div class="icon">
                        <div class="wrapper">
                          <i class="pe-7s-browser"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

              </div>
            </div>
            <!--End project 1-->


          </div><!--.row-->
        </div><!--.portfolio_sec-->
      </div><!--.container-->
    </div><!--.sec__content-->
  </div><!--.scroll__content-->
</section>
