<section class="resume pt-page" id="resume">
  <div class="scroll__content">
    <div class="sec_title">
      <h2>My Resume</h2>
    </div>
    <div class="sec__content">
      <div class="container">

        <div class="row">

          <!--Experience-->
          <div class="col-xs-12 col-sm-6">
            <h3 class="subtitle ">Experience
              <svg viewBox="0 0 66 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g class="Web">
                  <g class="Header">
                    <path d="M149,466 C152.87377,466 152.87377,470 156.747541,470 C160.621311,470 160.621311,466 164.493293,466 C168.367064,466 168.367064,470 172.240834,470 C176.112816,470 176.112816,466 179.984798,466 C183.858569,466 183.858569,470 187.730551,470 C191.607898,470 191.607898,466 195.483457,466 C199.362593,466 199.362593,470 203.241728,470 C207.120864,470 207.120864,466 211,466"></path>
                  </g>
                </g>
              </svg>
            </h3>
            <div class="resume">

              <div class="item">
                <div class="date">
                  <span>Mar 2021 &mdash; Present</span>
                </div>
                <div class="content">
                  <h4>Bol.com &mdash; <i>Sr Software Engineer</i></h4>
                  <p>&bull; Development of services to conciliate and centralize order tracking informatión from purchase to its delivery.</p>
                  <p>&bull; Maintenance of performance scoring systems done in the cloud.</p>
                </div>
              </div>

              <div class="item">
                <div class="date">
                  <span>Jun 2020 &mdash; Jan 2021</span>
                </div>
                <div class="content">
                  <h4>IBM &mdash; <i>Full Stack Engineer</i></h4>
                  <p>&bull; Develop design, implement, and test application software.</p>
                  <p>&bull; Independently performs analysis to develop and implement high level designs.</p>
                  <p>&bull; Research, develop and propose new technologies to improve application architecture.</p>
                </div>
              </div>

              <div class="item">
                <div class="date">
                  <span>Jun 2014 &mdash; Apr 2020</span>
                </div>
                <div class="content">
                  <h4>Backcountry.com &mdash; <i>Sr Full-Stack Software Engineer</i></h4>
                  <h5>Marketing and Merchandising Team</h5>
                  <p>&bull; Leading a six-member team, on the implementation of a new email service provider for the main sites through a centralized system, applying a stack-based state machine to ensure email delivery.</p>
                  <p>&bull; Coordination between teams for migration into an ERP (NetSuite), particularly, strategizing execution, and risk assessment to ensure backward compatibility with the inhouse merchandise architecture.</p>
                  <p>&bull; Ensuring the quality of services provided by standardizing logging, monitoring and alerting, and creation of a load testing template.</p>
                  <h5>Content Team</h5>
                  <p>&bull; Maintenance and development of projects for teams of creation of content.</p>
                  <p>&bull; Creation of a tool for non-technical writers to publish HTTP content on the site (Backcountry.com/explore).</p>
                  <p>&bull; Design and implement an interdepartmental plan to allow backorders limited by the purchase orders.</p>
                  <h5>Core Commerce Team</h5>
                  <p>&bull; Maintenance, development, and improvement through PCI Compliance, the cart, checkout, and log-in pages.</p>
                  <p>&bull; Development of the mini-cart on the site.</p>
                  <p>&bull; Supporting Marketing projects by the implementation of A/B testing, pixel creation, monitoring, alerting, and load testing.</p>
                </div>
              </div>

              <div class="item">
                <div class="date">
                  <span>Mar 2011 - May 2014</span>
                </div>
                <div class="content">
                  <h4>Descontadora Nacional S.A. &mdash; <i>Technical Project Manager</i></h4>
                  <p>&bull; Gathering requirements from the business and negotiation with stakeholders.</p>
                  <p>&bull; Coaching of Java and design patterns to a Jr Developer.</p>
                  <p>&bull; Leading the development of mobile apps using GWT (Google Web Toolkit), Guice, Guava libraries, and Gson.</p>
                </div>
              </div>

              <div class="item">
                <div class="date">
                  <span>Mar 2010 - Dec 2010</span>
                </div>
                <div class="content">
                  <h4>FUNDEVI &mdash; <i>Software Developer</i></h4>
                  <p>&bull; Development of modules in Java and ICEfaces for a Web portal.</p>
                  <p>&bull; Implementation of Invoicing software in PHP and Smarty with MySQL as DB.</p>
                </div>
              </div>

              <div class="item">
                <div class="date">
                  <span>Aug 2007 - Feb 2010</span>
                </div>
                <div class="content">
                  <h4>Vicerrectoría de Acción Social. UCR. &mdash; <i>Software Developer</i></h4>
                  <p>&bull; Development of an Accountant Web platform using ASP.NET.</p>
                  <p>&bull; Analysis and creation of reports SQL Server Reporting Services and Crystal Reports.</p>
                  <p>&bull; Implementation, design, and support of the Liferay web portal using HTML / CSS pages.</p>
                </div>
              </div>

            </div>
          </div>

          <!--Education-->
          <div class="col-xs-12 col-sm-6 mob-margin-top-30">
            <h3 class="subtitle">Education
              <svg viewBox="0 0 66 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g class="Web">
                  <g class="Header">
                    <path d="M149,466 C152.87377,466 152.87377,470 156.747541,470 C160.621311,470 160.621311,466 164.493293,466 C168.367064,466 168.367064,470 172.240834,470 C176.112816,470 176.112816,466 179.984798,466 C183.858569,466 183.858569,470 187.730551,470 C191.607898,470 191.607898,466 195.483457,466 C199.362593,466 199.362593,470 203.241728,470 C207.120864,470 207.120864,466 211,466"></path>
                  </g>
                </g>
              </svg>
            </h3>
            <div class="resume">

              <div class="item">
                <div class="date">
                  <span>May 2021</span>
                </div>
                <div class="content">
                  <h4>Udacity &mdash; <i>Blockchain Developer</i></h4>
                  <p>Syllabus:</p>
                  <p>&bull; Blockchain Fundamentals</p>
                  <p>&bull; Ethereum Smart Contracts, Tokens and Dapps</p>
                  <p>&bull; Blockchain Architecture</p>
                  <p>&bull; Dapp with autonomous smart contracts and oracles</p>
                </div>
              </div>

              <div class="item">
                <div class="date">
                  <span>Aug 2020</span>
                </div>
                <div class="content">
                  <h4>Udacity &mdash; <i>Full Stack Web Developer</i></h4>
                  <p>Syllabus:</p>
                  <p>&bull; SQL and Data Modeling for the Web</p>
                  <p>&bull; API Development and Documentation</p>
                  <p>&bull; Identity Access Management</p>
                  <p>&bull; Server Deployment and Containerization</p>
                </div>
              </div>

              <div class="item">
                <div class="date">
                  <span>Nov 2020</span>
                </div>
                <div class="content">
                  <h4>Udacity &mdash; <i>Data Structures & Algorithms</i></h4>
                  <p>Syllabus:</p>
                  <p>&bull; Data Structures</p>
                  <p>&bull; Basic Algorithms</p>
                  <p>&bull; Advanced Algorithms</p>
                </div>
              </div>

              <div class="item">
                <div class="date">
                  <span>2006</span>
                </div>
                <div class="content">
                  <h4>University Of Costa Rica &mdash; <i>School of Computer Science and Informatics.</i></h4>
                  <p>School of Computer Science and Informatics.</p>
                </div>
              </div>

              <div class="item">
                <div class="date">
                  <span>1999 - 2004</span>
                </div>
                <div class="content">
                  <h4>Colegio Técnico Don Bosco &mdash; <i>Bachelor of Technology (B.Tech.)</i></h4>
                  <p></p>
                </div>
              </div>

            </div>
          </div>
        </div><!--.row-->

      </div><!--.container-->
    </div><!--.sec__content-->
  </div><!--.scroll__content-->
</section>
