<section class="services pt-page" id="services">
  <div class="scroll__content">
    <div class="sec_title">
      <h2>Services</h2>
    </div>
    <div class="sec__content">
      <div class="container">
        <div class="row">

          <!--Service 1-->
          <div class="col-xs-12 col-sm-6">
            <div class="services">
              <div class="item">
                <div class="content">
                  <div class="font-icon">
                    <img src="assets/images/services/Orion_server.png" alt="">
                  </div>
                  <div class="service_content">
                    <h3>Backend development</h3>
                    <p>Creating and maintaining RESTful APIs with a variety of frameworks like Spring Java, Play Scala, Python Flask and ASP.NET</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Service 2-->
          <div class="col-xs-12 col-sm-6">
            <div class="services">
              <div class="item">
                <div class="content">
                  <div class="font-icon">
                    <img src="assets/images/services/Orion_source-code.png" alt="">
                  </div>
                  <div class="service_content">
                    <h3>Web Development</h3>
                    <p>I give maintenance of websites and dynamic applications in JavaScript, JQuery, AngularJS, Node.js, Bootstrap, HTML5, and CSS3. Also, acquaintance with CMS like WordPress and Liferay.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <!--Service 3-->
          <div class="col-xs-12 col-sm-6">
            <div class="services">
              <div class="item">
                <div class="content">
                  <div class="font-icon">
                    <img src="assets/images/services/Orion_checked-database.png" alt="">
                  </div>
                  <div class="service_content">
                    <h3>Databases</h3>
                    <p>I'm accustomed to SQL in relational database systems like Oracle PostgreSQL, including non-relational like MongoDB, with its aggregation framework.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Service 4-->
          <div class="col-xs-12 col-sm-6">
            <div class="services">
              <div class="item">
                <div class="content">
                  <div class="font-icon">
                    <img src="assets/images/services/Orion_maritime-transport.png" alt="">
                  </div>
                  <div class="service_content">
                    <h3>Containerization</h3>
                    <p>I'm comfortable working with Docker as the containerization platform and Kubernetes as the container orchestration platform.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <!--Service 5-->
          <div class="col-xs-12 col-sm-6">
            <div class="services">
              <div class="item">
                <div class="content">
                  <div class="font-icon">
                    <img src="assets/images/services/Orion_config.png" alt="">
                  </div>
                  <div class="service_content">
                    <h3>CI/CD</h3>
                    <p>When it comes to continuous integration, I used Git for my version control; I have created the Jenkinsfiles for Jenkins to generate the artifact. I've applied a dev, stage, and production environment in conjunction with Spinnaker for continuous delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Service 6-->
          <div class="col-xs-12 col-sm-6">
            <div class="services">
              <div class="item">
                <div class="content">
                  <div class="font-icon">
                    <img src="assets/images/services/Orion_performance.png" alt="">
                  </div>
                  <div class="service_content">
                    <h3>Performance Testing</h3>
                    <p>I proposed an initiative of standardize Dashboards for monitoring and alerting in Sumologic for the backend teams; the next step was to automate load testing with Gatling and chaos testing with Gremlin inc to ensure the performance of the APIs.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Service 7-->
          <div class="col-xs-12 col-sm-6">
            <div class="services">
              <div class="item">
                <div class="content">
                  <div class="font-icon">
                    <img src="assets/images/services/Orion_loop.png" alt="">
                  </div>
                  <div class="service_content">
                    <h3>Agile Methodologies</h3>
                    <p>Different situations call for different methodologies; scrum is my default methodology because of its timeboxing property. When the workload increases, I have switched to kanban to keep with the fast pace.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Service 8-->
          <div class="col-xs-12 col-sm-6">
            <div class="services">
              <div class="item">
                <div class="content">
                  <div class="font-icon">
                    <img src="assets/images/services/Orion_data-app.png" alt="">
                  </div>
                  <div class="service_content">
                    <h3>OOP Best Practices</h3>
                    <p>I know how and when to apply design patterns, encapsulation, and SOLID principles, a fan of clean code, practice TDD, and on Code Reviews, I always support myself with the source.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div><!--.container-->
    </div><!--.sec__content-->
  </div><!--.scroll__content-->
</section>
