---
layout: main
---

<body class="small_menu">
	<div id="page" class="site">

		<!--Start Preloader-->
		<div class="page-loader startLoad">
			<div class="loader startLoad"></div>
		</div>
		<!--End Preloader-->

		<div id="splitlayout" class="splitlayout close-right">
			<div class="intro">

				<div class="side side-left" style="background-image: url(assets/images/home_personal.jpg);">
					<!--Start Home-->
					<div class="home_type full-height home__menu">
						<div class="overlayer text-center">
							<div class="container">
								<div class="display-table">
									<div class="display-table-cell">
										<h1 class="fit__text">I'm <span id="typed"></span></h1>
										<div id="typed-strings">
											<span>Gerardo Cortés</span>
											<span>a Sr Engineer</span>
											<span>from Costa Rica</span>
											<span>living in the Netherlands</span>
										</div>
										<div class="more_info">
											<a href="assets/docs/Gerardo-Cortes_Resume.pdf" target="_blank" class="bgColor">download CV</a>
											<a href="#contact" target="_self" class="goToSec">contact me</a>
										</div><!--.more_info-->
									</div><!--.display-table-cell-->
								</div><!--.display-table-->
							</div>
						</div><!--.overlayer-->
					</div><!--.home_type-->
					<!--End Home-->
				</div><!--.side-->



				<!--Start Menu-->
				{% include menu.html %}
				<!--End Menu-->
			</div><!-- /intro -->



			<div class="pag-e page-right">
				<div id="pt-main" class="pt-perspective page-inner">


					<!--Start About Section-->
					{% include about.html %}
					<!--End About Section-->


					<!--Start Resume Section-->
					{% include resume.html %}
					<!--End Resume Section-->


					<!--Start Services Section-->
					{% include services.html %}
					<!--End Services Section-->


					<!--Start Portfolio Section-->
					{% include portfolio.html %}
					<!--End Portfolio Section-->


					<!--Start Blog Section-->
					{% include blog.html %}
					<!--End Blog Section-->


					<!--Start Contact Section-->
					{% include contact.html %}
					<!--End Contact Section-->


				</div><!--.page-inner-->
			</div><!--.page-right-->
		</div><!--.splitlayout-->
	</div><!-- #page -->


	<script src='assets/js/jquery.min.js'></script>
	<script src='assets/js/jquery.matchHeight-min.js'></script>
	<script src='assets/js/modernizr-custom.js'></script>
	<script src='assets/js/pagetransitions.js'></script>
	<script src='assets/js/typed.min.js'></script>
	<script src='assets/js/slick.js'></script>
	<script src='assets/js/bootstrap.min.js'></script>
	<script src='assets/js/imagesloaded.pkgd.min.js'></script>
	<script src='assets/js/isotope.pkgd.min.js'></script>
	<script src='assets/js/jquery.fittext.js'></script>
	<script src='assets/js/jquery.magnific-popup.min.js'></script>
	<!-- Google maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCABUipchxBy5ubGg0ajToD30sX9KhcCBQ"></script>
	<script src='assets/js/custom.js'></script>

</body>
