---
layout: main
---

<body class="small_menu single single-post">
	<div id="page" class="site">

		<!--Start Preloader-->
		<div class="page-loader startLoad">
			<div class="loader startLoad"></div>
		</div>
		<!--End Preloader-->

		<div id="splitlayout" class="splitlayout open-right">

			<div class="intro">

				<!--Start Menu-->
				{% include menu.html domain="http://cortes-gerardo.com" %}
				<!--End Menu-->

			</div><!-- /intro -->



			<div class="pag-e page-right full-height single-blog">
				<div id="pt-main" class="pt-perspective page-inner">

					<!--Start Post Section-->
					<div class="main-content padding-bottom-90 height-auto">
						<div class="content">

							<!-- .post-thumbnail -->
							<div class="post-thumbnail">
								<img src="/assets/images/blog/{{page.thumbnail}}" alt="" />
							</div>

							<div class="container">
								<article class="post">
									<header class="entry-header">
										<div class="cats">
											<!-- <span>Photo by <a href="https://unsplash.com/@beatriz_perez?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Beatriz Pérez Moya</a> on <a href="https://unsplash.com/s/photos/documents?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> -->
											<!-- <a href="#">Media</a> -->
										</div>

										<h2 class="entry-title">{{page.title}}</h2>

										<div class="entry-meta">
											<span class="byline">
												<span class="author vcard">
													<span>By: </span>
													Gerardo Cortés
												</span>
											</span>
											<span class="posted-on">
												{{page.date | date_to_long_string}}
											</span>
										</div>
										<!-- .entry-meta -->

									</header>
									<!-- .entry-header -->

									<div class="entry-content">
										{{content}}
									</div>
									<!-- .entry-content -->

									<footer class="entry-footer">
										<div class="tags__share">
											<div class="row">
												<div class="col-sm-6 col-xs-12">
													<span class="tags-links">
														<a href="#">Non-functional requirement</a>
													</span>
												</div>
												<div class="col-sm-6 col-xs-12" style="position: static">
													<div class="share-post">
														<span class="shareText">Share:</span>
														<ul class="share-post list-unstyled">
															<li><a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.permalink}}" target="_blank" class="fa fa-facebook"></a></li>
															<li><a href="https://twitter.com/home?status={{site.url}}{{page.permalink}}" target="_blank" class="fa fa-twitter"></a></li>
															<li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.permalink}}&title={{page.title}}&summary={{page.summary}}" target="_blank" class="fa fa-linkedin"></a></li>
															<li><a href="https://pinterest.com/pin/create/button/?url={{site.url}}{{page.permalink}}&media=&description={{page.summary}}" target="_blank" class="fa fa-pinterest"></a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</footer>
									<!-- .entry-footer -->
								</article>


							</div>
							<!-- .container -->
						</div>
						<!-- .content -->
					</div>
					<!--End Post Section-->

				</div><!--.page-inner-->
			</div><!--.page-right-->
		</div><!--.splitlayout-->
	</div><!-- #page -->

	<script src='assets/js/jquery.min.js'></script>
	<script src='assets/js/jquery.matchHeight-min.js'></script>
	<script src='assets/js/modernizr-custom.js'></script>
	<script src='assets/js/pagetransitions.js'></script>
	<script src='assets/js/typed.min.js'></script>
	<script src='assets/js/slick.js'></script>
	<script src='assets/js/bootstrap.min.js'></script>
	<script src='assets/js/imagesloaded.pkgd.min.js'></script>
	<script src='assets/js/isotope.pkgd.min.js'></script>
	<script src='assets/js/jquery.fittext.js'></script>
	<script src='assets/js/jquery.magnific-popup.min.js'></script>
	<script src='assets/js/custom.js'></script>

</body>
